<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="false" debug="false">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %boldBlue(%.-5level) %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <!--<appender name="FILE1" class="ch.qos.logback.core.FileAppender">
        <file>messages.log</file>
        <append>false</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE2" class="ch.qos.logback.core.FileAppender">
        <file>warnings.log</file>
        <append>false</append>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>-->

    
    <root level="ALL">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
