.button {
    -fx-background-color: rgb(0,0,0);
    -fx-text-fill: rgb(0, 218, 255);
    -fx-text-align: center;
    -fx-display: inline-block;
    -fx-font-size: 20px;
    -fx-effect: dropshadow(three-pass-box, grey, 0, 10, 4, 4);
    -fx-font-weight : bold;
    -fx-border-width: 5px;
    -fx-border-color: rgb(0, 218, 255);
}

.button:hover {
    -fx-background-color: rgb(220,220,220);
    -fx-text-fill: rgb(0,0,0);
}

#pausePane {
    -fx-effect: dropshadow(three-pass-box, grey, 0, 10, 4, 4);
    -fx-border-width: 5px;
    -fx-border-color: rgb(0, 218, 255);
    -fx-background-color: rgb(205, 255, 254);
}

#brick1 {
    -fx-fill: rgb(197, 25, 255);
}

#brick2 {
    -fx-fill: rgb(240, 0, 186);
}

#brick3 {
    -fx-fill: rgb(248, 26, 97);
}

#bat {
    -fx-fill: darkgray;
}

#ball {
    -fx-fill: rgb(0, 0, 0);
}

#pauseText {
    -fx-font-size: 50px;
    -fx-fill: rgb(0,0,0);
}